### Load pandas

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
_base = r"D:\ArbeitsverzeichnisHDD\04_Kleinere_Aufträge\opentripplanner\gtfs-datasets\20220509_fahrplaene_gesamtdeutschland_gtfs"
_base

'D:\\ArbeitsverzeichnisHDD\\04_Kleinere_Aufträge\\opentripplanner\\gtfs-datasets\\20220509_fahrplaene_gesamtdeutschland_gtfs'

### Load data

In [4]:
os.path.join(
    _base, 
    "stops.txt"
)

'D:\\ArbeitsverzeichnisHDD\\04_Kleinere_Aufträge\\opentripplanner\\gtfs-datasets\\20220509_fahrplaene_gesamtdeutschland_gtfs\\stops.txt'

In [6]:
stops = pd.read_csv(
    os.path.join(_base, r"stops.txt"),
    converters = {
        'level_id': str
    }
).reset_index().set_index('index')
stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code,level_id
index,,,,,,,,,,,
0,de:06413:8041:2:2,NaN,Offenbach (Main)-Rumpenheim Kurhessenplatz,NRumpenheim,50.129671,8.797541,0,NaN,0,NaN,2
1,de:06413:8041:1:1,NaN,Offenbach (Main)-Rumpenheim Kurhessenplatz,NMarkwaldstraß,50.129374,8.797052,0,NaN,0,NaN,2
2,de:06412:1503:1:1,NaN,Frankfurt (Main) Prüfling,NBornheim Mitte Bus,50.128247,8.706909,0,NaN,0,NaN,2
3,de:06412:1507:6:6,NaN,Frankfurt (Main) Bornheim Mitte,Bus NPrüfling Bus,50.126514,8.707801,0,NaN,0,NaN,2
4,de:06412:1507:5:5,NaN,Frankfurt (Main) Bornheim Mitte,Bus NSaalburg-/Wittel Bus,50.126191,8.708236,0,NaN,0,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...
518696,000340000102,NaN,Kassel Hauptbahnhof,"Kassel Hauptbahnhof, Steig A",51.317769,9.491139,2,de:06611:200001,0,A,2
518697,000340000103,NaN,Kassel Hauptbahnhof,"Kassel Hauptbahnhof, Steig B",51.317812,9.491556,2,de:06611:200001,0,B,2
518698,000340000104,NaN,Kassel Hauptbahnhof,"Kassel Hauptbahnhof, Steig C",51.317232,9.490617,2,de:06611:200001,0,C,2
518699,000340000105,NaN,Kassel Hauptbahnhof,"Kassel Hauptbahnhof, Steig D",51.317412,9.490547,2,de:06611:200001,0,D,2
518700,000340000715,NaN,Kassel Bahnhof Wilhelmshöhe,"Kassel Bahnhof Wilhelmshöhe, AST",51.313096,9.446184,2,de:06611:200007,0,Eingang,2

In [8]:
stop_times = pd.read_csv(os.path.join(_base, "stop_times.txt"))
stop_times

C:\Users\fleischer\AppData\Local\ESRI\conda\envs\monitoring\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_headsign
0,1739993663,8:55:00,8:55:00,de:05758:6660:0:1,0,0,0,NaN
1,1739993663,8:57:00,8:57:00,de:05758:4815:0:2,1,0,0,NaN
2,1739993663,8:58:00,8:58:00,de:05758:4834:0:1,2,0,0,NaN
3,1739993663,8:59:00,8:59:00,de:05758:4838:0:1,3,0,0,NaN
4,1739993663,9:00:00,9:00:00,de:05758:4816:0:1,4,0,0,NaN
...,...,...,...,...,...,...,...,...
38021303,1742207973,20:21:00,20:21:00,de:10045:57503::575036,2,0,0,NaN
38021304,1742207973,20:22:00,20:22:00,de:10045:57584::575846,3,0,0,NaN
38021305,1742207973,20:24:00,20:24:00,de:10045:57502::575026,4,0,0,NaN
38021306,1742207973,20:28:00,20:28:00,de:10045:57457::574575,5,0,0,NaN
38021307,1742207973,20:31:00,20:31:00,de:10045:57500::575001,6,0,0,NaN

In [10]:
trips = pd.read_csv(os.path.join(_base, "trips.txt"))
trips

C:\Users\fleischer\AppData\Local\ESRI\conda\envs\monitoring\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,3698447_3,1,1739993663,"Spenge, ZOB",NaN,0,NaN,4242,0,0
1,3698447_3,1,1739993662,"Spenge, ZOB",NaN,0,NaN,4242,0,0
2,3698447_3,1,1739993661,"Spenge, ZOB",NaN,0,NaN,4242,0,0
3,3698447_3,1,1739993660,"Spenge, ZOB",NaN,0,NaN,4242,0,0
4,3698447_3,2,1739993659,"Spenge, ZOB",NaN,0,NaN,4242,0,0
...,...,...,...,...,...,...,...,...,...,...
1859969,3223085_3,648,1742207969,"Bahnhof, St.Ingbert",170619,1,NaN,253123,0,0
1859970,3223085_3,648,1742207970,"Bahnhof, St.Ingbert",170621,1,NaN,253123,0,0
1859971,3223085_3,648,1742207971,"Bahnhof, St.Ingbert",170623,1,NaN,253123,0,0
1859972,3223085_3,648,1742207972,"Bahnhof, St.Ingbert",170625,1,NaN,253123,0,0
1859973,3223085_3,648,1742207973,"Bahnhof, St.Ingbert",170627,1,NaN,253123,0,0

## Drop stops with no stop_id

In [11]:
stops[stops['stop_id'].isna()]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code,level_id
index,,,,,,,,,,,
324103,NaN,NaN,Schermbeck(Luhden) Haksgrund,NaN,52.228274,9.06984,0,NaN,0,NaN,

In [12]:
stops.drop(labels=stops[stops['stop_id'].isna()].index, inplace=True)

In [13]:
stops[stops['stop_id'].isna()]

Empty DataFrame
Columns: [stop_id, stop_code, stop_name, stop_desc, stop_lat, stop_lon, location_type, parent_station, wheelchair_boarding, platform_code, level_id]
Index: []

## List non-Valid stops (location_type)

In [14]:
nonvalid_stop_times_stops = stops[(stops['stop_id'].isin(stop_times['stop_id'].unique())) & ~(stops['location_type'].isin([0]))]#['stop_id']
nonvalid_stop_times_stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code,level_id
index,,,,,,,,,,,
61961,de:14522:60813:90,NaN,Dittersbach,Eingang,50.926977,13.068906,2,de:14522:60813,0,NaN,2
102593,de:05158:19054:1,NaN,Erkrath Nord Bf,Zugang,51.229261,6.909293,2,de:05158:19054_G,0,NaN,2
103366,de:05162:20390:40,NaN,Neuss Am Kaiser,Zugang,51.220198,6.697965,2,de:05162:20390,0,NaN,2
149207,de:08316:6667:2:1,NaN,Kollmarsreute Bahnhof,Zug->Karlsruhe,48.098588,7.886885,2,de:08316:6667,0,1,2
155845,de:13076:9062:2:1,NaN,Blankenberg Bhf,DB,53.772289,11.714768,2,de:13076:9062,0,1,2
155846,de:13076:9062:2:2,NaN,Blankenberg Bhf,DB,53.772374,11.714813,2,de:13076:9062,0,2,2
188151,de:05314:61101,NaN,Bonn Hbf,NaN,50.732012,7.096933,1,NaN,0,NaN,
227978,de:08236:2590:2,NaN,Illingen,Bushaltestelle,48.956160,8.920648,2,de:08236:2590,0,3,2
423885,de:08326:8324:90:1,NaN,Schwenningen Eisstadion,Eingang,48.052858,8.529818,2,de:08326:8324,0,91,2

In [15]:
nonvalid_stop_times_stops_nonan = nonvalid_stop_times_stops[nonvalid_stop_times_stops['parent_station'].notna()]
nonvalid_stop_times_stops_nonan

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code,level_id
index,,,,,,,,,,,
61961,de:14522:60813:90,NaN,Dittersbach,Eingang,50.926977,13.068906,2,de:14522:60813,0,NaN,2
102593,de:05158:19054:1,NaN,Erkrath Nord Bf,Zugang,51.229261,6.909293,2,de:05158:19054_G,0,NaN,2
103366,de:05162:20390:40,NaN,Neuss Am Kaiser,Zugang,51.220198,6.697965,2,de:05162:20390,0,NaN,2
149207,de:08316:6667:2:1,NaN,Kollmarsreute Bahnhof,Zug->Karlsruhe,48.098588,7.886885,2,de:08316:6667,0,1,2
155845,de:13076:9062:2:1,NaN,Blankenberg Bhf,DB,53.772289,11.714768,2,de:13076:9062,0,1,2
155846,de:13076:9062:2:2,NaN,Blankenberg Bhf,DB,53.772374,11.714813,2,de:13076:9062,0,2,2
227978,de:08236:2590:2,NaN,Illingen,Bushaltestelle,48.956160,8.920648,2,de:08236:2590,0,3,2
423885,de:08326:8324:90:1,NaN,Schwenningen Eisstadion,Eingang,48.052858,8.529818,2,de:08326:8324,0,91,2

### select parent_station-ID for stop_id (only if parent_station ist of type 0)

In [28]:
filtered_stops = nonvalid_stop_times_stops.reset_index().set_index('parent_station').join(
    stops.loc[stops['stop_id'].isin(nonvalid_stop_times_stops['parent_station'])].reset_index().set_index('stop_id')[['stop_name','location_type']],
    rsuffix='_stops'
).rename_axis('parent_station').reset_index().set_index('index')

In [30]:
filtered_stops = filtered_stops[filtered_stops['parent_station'].notna()]
filtered_stops

,parent_station,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,wheelchair_boarding,platform_code,level_id,stop_name_stops,location_type_stops
index,,,,,,,,,,,,,
102593,de:05158:19054_G,de:05158:19054:1,NaN,Erkrath Nord Bf,Zugang,51.229261,6.909293,2,0,NaN,2,Erkrath Nord Bf,1.0
103366,de:05162:20390,de:05162:20390:40,NaN,Neuss Am Kaiser,Zugang,51.220198,6.697965,2,0,NaN,2,Neuss Am Kaiser,1.0
227978,de:08236:2590,de:08236:2590:2,NaN,Illingen,Bushaltestelle,48.956160,8.920648,2,0,3,2,Illingen,1.0
149207,de:08316:6667,de:08316:6667:2:1,NaN,Kollmarsreute Bahnhof,Zug->Karlsruhe,48.098588,7.886885,2,0,1,2,Kollmarsreute Bahnhof,1.0
423885,de:08326:8324,de:08326:8324:90:1,NaN,Schwenningen Eisstadion,Eingang,48.052858,8.529818,2,0,91,2,Schwenningen Eisstadion,1.0
155845,de:13076:9062,de:13076:9062:2:1,NaN,Blankenberg Bhf,DB,53.772289,11.714768,2,0,1,2,Blankenberg Bhf,1.0
155846,de:13076:9062,de:13076:9062:2:2,NaN,Blankenberg Bhf,DB,53.772374,11.714813,2,0,2,2,Blankenberg Bhf,1.0
61961,de:14522:60813,de:14522:60813:90,NaN,Dittersbach,Eingang,50.926977,13.068906,2,0,NaN,2,Dittersbach,1.0

### Alter the original dataset (with parent_stop-IDs instead of the faulty ones) - using .loc

In [31]:
stop_times.loc[stop_times['stop_id'].isin(filtered_stops['stop_id']), 'stop_id'] = stop_times.loc[stop_times['stop_id'].isin(filtered_stops['stop_id']), 'stop_id'].apply(lambda x: filtered_stops.set_index('stop_id')['parent_station'].loc[x])

### Delete all stops in stop_times that have no stop_id

In [32]:
stop_times.drop(labels=stop_times[stop_times['stop_id'].isna()].index, inplace=True)

### Check if the dataset is now valid (teaser: it isn't)

In [33]:
nonvalid_stop_times_stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code,level_id
index,,,,,,,,,,,
61961,de:14522:60813:90,NaN,Dittersbach,Eingang,50.926977,13.068906,2,de:14522:60813,0,NaN,2
102593,de:05158:19054:1,NaN,Erkrath Nord Bf,Zugang,51.229261,6.909293,2,de:05158:19054_G,0,NaN,2
103366,de:05162:20390:40,NaN,Neuss Am Kaiser,Zugang,51.220198,6.697965,2,de:05162:20390,0,NaN,2
149207,de:08316:6667:2:1,NaN,Kollmarsreute Bahnhof,Zug->Karlsruhe,48.098588,7.886885,2,de:08316:6667,0,1,2
155845,de:13076:9062:2:1,NaN,Blankenberg Bhf,DB,53.772289,11.714768,2,de:13076:9062,0,1,2
155846,de:13076:9062:2:2,NaN,Blankenberg Bhf,DB,53.772374,11.714813,2,de:13076:9062,0,2,2
188151,de:05314:61101,NaN,Bonn Hbf,NaN,50.732012,7.096933,1,NaN,0,NaN,
227978,de:08236:2590:2,NaN,Illingen,Bushaltestelle,48.956160,8.920648,2,de:08236:2590,0,3,2
423885,de:08326:8324:90:1,NaN,Schwenningen Eisstadion,Eingang,48.052858,8.529818,2,de:08326:8324,0,91,2

In [34]:
nonvalid_stop_times_stops2 = stops[(stops['stop_id'].isin(stop_times['stop_id'].unique())) & ~(stops['location_type'].isin([0]))]
nonvalid_stop_times_stops2

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code,level_id
index,,,,,,,,,,,
56042,de:14522:60813,NaN,Dittersbach,NaN,50.926564,13.068763,1,NaN,0,NaN,
74697,de:13076:9062,NaN,Blankenberg Bhf,NaN,53.771971,11.716475,1,NaN,0,NaN,
100220,de:05158:19054_G,NaN,Erkrath Nord Bf,NaN,51.229289,6.909410,1,NaN,0,NaN,
100223,de:05162:20390,NaN,Neuss Am Kaiser,NaN,51.220164,6.698063,1,NaN,0,NaN,
188151,de:05314:61101,NaN,Bonn Hbf,NaN,50.732012,7.096933,1,NaN,0,NaN,
188179,de:08316:6667,NaN,Kollmarsreute Bahnhof,NaN,48.098210,7.887055,1,NaN,0,NaN,
220201,de:08236:2590,NaN,Illingen,NaN,48.956432,8.920738,1,NaN,0,NaN,
229040,de:08326:8324,NaN,Schwenningen Eisstadion,NaN,48.053140,8.528875,1,NaN,0,NaN,

In [35]:
nonvalid_stop_times_stops2_nonan = nonvalid_stop_times_stops2[nonvalid_stop_times_stops2['parent_station'].notna()]
nonvalid_stop_times_stops2_nonan

Empty DataFrame
Columns: [stop_id, stop_code, stop_name, stop_desc, stop_lat, stop_lon, location_type, parent_station, wheelchair_boarding, platform_code, level_id]
Index: []

### Hard-Fix stations (location_type=1) to stops (location_type=0). Not Beautiful, but working.

In [36]:
display(stops.loc[stops["stop_id"].isin(nonvalid_stop_times_stops2['stop_id']), 'location_type'])
stops.loc[stops["stop_id"].isin(nonvalid_stop_times_stops2['stop_id']), 'location_type'] = 0
display(stops.loc[stops["stop_id"].isin(nonvalid_stop_times_stops2['stop_id']), 'location_type'])

index
56042     1
74697     1
100220    1
100223    1
188151    1
188179    1
220201    1
229040    1
Name: location_type, dtype: int64

index
56042     0
74697     0
100220    0
100223    0
188151    0
188179    0
220201    0
229040    0
Name: location_type, dtype: int64

## Find non existent stops in transfers.txt

In [39]:
transfers = pd.read_csv(os.path.join(_base, "transfers.txt"))
transfers

,from_stop_id,to_stop_id,transfer_type,min_transfer_time,from_route_id,to_route_id,from_trip_id,to_trip_id
0,000094190671,000094190671,2,60.0,NaN,NaN,NaN,NaN
1,de:06636:206285,de:06636:206285,2,180.0,NaN,NaN,NaN,NaN
2,de:06636:206285,de:06636:206285_G,2,300.0,NaN,NaN,NaN,NaN
3,de:06636:206285,000000062851,2,180.0,NaN,NaN,NaN,NaN
4,de:16070:8010007,de:16070:8010007,2,180.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
978851,de:01059:9200006::2,de:01059:106488::1,2,120.0,NaN,NaN,NaN,NaN
978852,de:01054:10614::1,de:01054:10614::1,2,60.0,NaN,NaN,NaN,NaN
978853,de:01054:10614::1,de:01054:10614::2,2,60.0,NaN,NaN,NaN,NaN
978854,de:01054:10614::2,de:01054:10614::1,2,60.0,NaN,NaN,NaN,NaN
978855,de:01054:10614::2,de:01054:10614::2,2,60.0,NaN,NaN,NaN,NaN

In [40]:
broken_transfers = pd.concat(
    [
        transfers[~transfers['from_stop_id'].isin(stops['stop_id'].unique())],
        transfers[~transfers['to_stop_id'].isin(stops['stop_id'].unique())]
    ]
)
broken_transfers

,from_stop_id,to_stop_id,transfer_type,min_transfer_time,from_route_id,to_route_id,from_trip_id,to_trip_id
391522,NaN,000012039002,2,120.0,NaN,NaN,NaN,NaN
391523,000012039002,NaN,2,120.0,NaN,NaN,NaN,NaN

In [41]:
transfers.drop(labels = broken_transfers.index, inplace=True)

## Exporting Dataset back to csv

In [42]:
import csv
level = csv.QUOTE_ALL #this is actually wrong, but the closest pandas/csv-module can do. Correct would be to quote floats but don't quote integers...very odd conformity...
level

1

In [43]:
import zipfile
import os

iteration='1'

zipfilepath = os.path.join(_base,r"20220509_fahrplaene_gesamtdeutschland_gtfs_fix"+iteration+".zip") #<-- Fix this, if working on a new dataset
zipfilepath

'D:\\ArbeitsverzeichnisHDD\\04_Kleinere_Aufträge\\opentripplanner\\gtfs-datasets\\20220509_fahrplaene_gesamtdeutschland_gtfs\\20220207_fahrplaene_gesamtdeutschland_gtfs_fix1.zip'

In [44]:
zip_ = zipfile.ZipFile(zipfilepath,'w',compression=zipfile.ZIP_DEFLATED)

In [46]:
copy_ = [
    os.path.join(_base, "shapes.txt"),
    os.path.join(_base, "agency.txt"),
    os.path.join(_base, "Beschreibung_DELFI-Datensatz_GTFS_20220509.pdf"), #<- FIX this, if you work on a new dataset
    os.path.join(_base, "calendar.txt"),
    os.path.join(_base, "calendar_dates.txt"),
    os.path.join(_base, "frequencies.txt"),
    os.path.join(_base, "levels.txt"),
    os.path.join(_base, "pathways.txt"),
    os.path.join(_base, "routes.txt")
]
for c in copy_:
    zip_.write(
        c,
        os.path.basename(c)
    )

C:\Users\fleischer\AppData\Local\ESRI\conda\envs\monitoring\lib\zipfile.py:1378: UserWarning: Duplicate name: 'shapes.txt'
  return self._open_to_write(zinfo, force_zip64=force_zip64)
C:\Users\fleischer\AppData\Local\ESRI\conda\envs\monitoring\lib\zipfile.py:1378: UserWarning: Duplicate name: 'agency.txt'
  return self._open_to_write(zinfo, force_zip64=force_zip64)

In [47]:
copy_ = [
    os.path.join(_base, "trips.txt")
]
for c in copy_:
    zip_.write(
        c,
        os.path.basename(c)
    )

In [48]:
stops.to_csv(os.path.join(_base, "stops_new.txt"), index=False, quoting=level )
zip_.write(
    os.path.join(os.path.dirname(zipfilepath),"stops_new.txt"),
    'stops.txt'
)

In [49]:
transfers.to_csv(os.path.join(_base,"transfers_new.txt"), index=False, quoting=level )
zip_.write(
    os.path.join(os.path.dirname(zipfilepath),"transfers_new.txt"),
    'transfers.txt'
)

In [50]:
stop_times.to_csv(os.path.join(_base, "stop_times_new.txt"), index=False, quoting=level )
zip_.write(
    os.path.join(os.path.dirname(zipfilepath),"stop_times_new.txt"),
    'stop_times.txt'
)

In [51]:
zip_.close()

## Playground/Development